OPENAI_API_KEY=sk-...
PUBMED_API_KEY=
EMAIL=
COLLECTION_NAME=flu_bnabs
PERSIST_DIR=./data/vector_db
PPT_TEMPLATE=./templates/lab_template.pptx

ENABLE_BIORXIV=true
# ENABLE_EUROPE_PMC=true

# PMC 全文缓存目录
PMC_CACHE_DIR=./data/pmc_cache

# Unpaywall 邮箱（必需）
UNPAYWALL_EMAIL=yiweixidu@gmail.com
